.App {
  text-align: center;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: black;
  border-style: solid;
}

body{
  margin: 1rem;
}

.Search{
  margin-top: 4rem;
}

.MuiOutlinedInput-root{
 height: 2.5rem;
 margin-left: 0.5rem;
}

.Tabs{
  margin-top: 3rem;
}

.makeStyles-root-158{
  width: auto !important;
  margin: auto;
  border-style: groove;
}